*, *:before, *:after {
  box-sizing: border-box;
}
.img-container {
  display: flex;
  width: 700px;
  margin: 40px auto;
  padding-left: 50px;
  flex-wrap: wrap;
}
.user-image-container {
  display: flex;
  flex-wrap: wrap;
}
img {
  width: 100px;
  height: 100px;
  border-radius: 50px;
  object-fit: cover;
  padding: 3px;
}
h1 {
  text-align: center;
}
