
.img-container {
  width: 600px;
  margin: 40px auto;
  padding-left: 50px;
}

img {
  width: 100px;
  height: 100px;
  border-radius: 50px;
  object-fit: cover;
  padding: 3px;
}
h1 {
  text-align: center;
}
